# Caddyfile for Bookmarkeddit with Automatic SSL
# Replace "yourdomain.com" with your real domain name

http://49.13.230.217 {
    reverse_proxy /api/* server:3000
    reverse_proxy /* client:3000
}

#localhost {
#    reverse_proxy /api/* server:3000
#    reverse_proxy /* client:3000
#}