@font-face {
  font-family: "IBMPlexSans";
  font-weight: 400;
  font-display: "swap";
  font-style: "normal";
  src: url("../src/assets/fonts/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSans";
  font-weight: 500;
  font-display: "swap";
  font-style: "normal";
  src: url("../src/assets/fonts/IBMPlexSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSans";
  font-weight: 600;
  font-display: "swap";
  font-style: "normal";
  src: url("../src/assets/fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
}

* {
  font-family: IBMPlexSans, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #ff4500;
  --border-radius: 4px;
  --btn-border-radius: 9999px;
  --btn-hover-color: #ef6a3a;
  --bg-selected: #3a536b;
  .light {
    --bg-primary: #fff;
    --bg-secondary: #dae0e6;
    --border-color: #ccc;
    --border: 1px solid var(--border-color);
    --color-primary: #222222;
    --color-secondary: #787c7e;
  }
  .dark {
    --bg-primary: #030303;
    --bg-secondary: #1a1a1b;
    --border-color: #343536;
    --border: 1px solid var(--border-color);
    --color-primary: #d7dadc;
    --color-secondary: #818384;
  }
}

body {
  background-color: var(--bg-primary);
  color: var(--color-primary);
  //height: 100%;
}

// format scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color); /* Thumb color */
  border-radius: 4px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background-color: var(--bg-secondary); /* Track color */
}

.styled-scrollbars {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  //scrollbar-background: #0e1113;
  scrollbar-color: var(--border-color) var(--btn-hover-color); /* Set visible colors */
}

hr {
  border: none;
  height: 0.3px;
  background-color: var(--border-color);
  margin: 1rem 0;
}

input,
textarea {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--bg-primary);
  width: 100%;
  color: var(--color-primary);
  margin-bottom: 1rem;
  //font-weight: 400;
  //font-size: 1.25rem;
  outline: unset;
  &:focus {
    outline: 2px solid var(--btn-hover-color);
  }
  &::placeholder {
    color: var(--color-secondary);
  }
}

/* body {
  color: var(--color);
  //scroll-snap-type: y mandatory;
  //height: 100vh;
  //overflow: hidden;
  color: var(--color-primary);
  background-color: var(--background-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-bottom: 2rem;
}

label {
  color: var(--color-tertiary);
  font-size: 12px;
  font-weight: 700;
  //border-radius: 0.25rem;
  //border: 1px solid dodgerblue;
  //padding: 0.5rem;
}

a {
  text-decoration: none;
  padding: unset;
  margin: unset;
}

input,
textarea {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  background-color: var(--input-background);
  width: 100%;
  color: var(--color-primary);
  //font-weight: 400;
  //font-size: 1.25rem;
  outline: unset;
  &:focus {
    outline: 2px solid var(--border-color-focus);
  }
  &::placeholder {
    color: var(--color-tertiary);
  }
}

textarea {
  resize: vertical;
  min-height: 5rem;
  //max-height: 6rem;
}



*/

button {
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fff;
  border-radius: var(--btn-border-radius);
  background-color: var(--orange);
  font-weight: 600;
  font-size: 24px;
  border: none;
  padding: 1.5rem 3rem;
  &:hover {
    background-color: var(--btn-hover-color);
  }
}

.btn-icon {
  background-color: unset;
  color: var(--color-primary);
  border: unset;
  padding: unset;
  &:hover {
    color: var(--btn-hover-color);
    background-color: transparent;
    box-shadow: unset;
  }
}

/* .btn-secondary {
  background-color: transparent;
} */
